body {
    background-color: #61828A;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ABC3CD;
    width: 20rem;
    height: 5rem;
    place-self: center;
    margin-bottom: 2rem;
}

header h1{
    padding-top: 1.3rem;
}

.tableTitle{
    text-decoration: underline;
    font-weight: bold;
}

.central {
    text-align: center;
}

.contFormat{
    background-color: #ABC3CD;
    width: 50rem;
    height: auto;
    margin-top: 4rem;
    padding: 0.3rem;
    place-self: center;
    border:0.15rem solid black;
}

.contFormat h2 {
    display: inline-block;
    border: solid;
    padding: 0.5rem;
}

.content a{
    text-decoration: none;
    margin-left: 3rem;
}

.secTitle {
    text-align: center;
}

.foto{
    display: block;
    margin: auto;
    place-self: center;
    width: 15rem;
    height: 20rem;
    border: solid;
}

.menu{
    background-color: #ABC3CD;
    width: 34rem;
    height: 7rem;
    padding: 0.3rem;
    place-self: center;
}

.menu a{
    text-decoration: none;
    color: black;
    padding: 0.3rem;
    padding-right: 1rem;
    background-color: #DFE9EB;
    border-right-style: solid;
    border-right-color: #8dabad;

}

.menu a:hover{
    background-color: darkorange;
    color: aqua;
    transition: 0.3s;
}

.menu li {
    display: inline-block;    
    background-color: rgb(255,255,255);
    margin: 0.6rem;
}

.academy {
    margin-top: 5rem;
    border: solid;
}

.academy p {
    margin: 1rem;
}

.content {
    background-color: #A9CCCF;
    border: solid;
    margin-top: 3rem;
    width: 60rem;
    height: 60%;
    padding: 1.5rem;
    place-self: center;
    padding-bottom: 3rem;
}

.icon{
    height: 4rem;
    width: 4rem;
}

.socials tr{
    display: inline-block;
    margin-left: 3rem;
    margin-top: 1.5rem;
}



